html {
  font-size: 18px;
  overflow-x: hidden;
}
body {
  margin-top: 1rem;
  margin-inline: 4rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}

@media (max-width: 2500px) {
  html {
    font-size: 25px;
  }
}
@media (max-width: 2000px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 1800px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  body {
    margin-inline: 3rem;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 10px;
  }

  body {
    margin-inline: 2rem;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 8px;
  }
}
