.welcomeMessage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 3rem;

  h6 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
  }

  p {
    font-size: 1.5rem;
    color: $grey-text-colour;
    width: 50%;
    text-align: center;
  }
}

.sponsorShipBar {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1rem;
  .swiper-slide {
    .img {
      width: calc((100% - 4rem) / 5);
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media (max-width: 1024px) {
  .welcomeMessage {
    h6 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.5rem;
      width: 70%;
    }
  }
}
@media (max-width: 600px) {
  .swiper-slide {
    width: 100%;
  }

  .welcomeMessage {
    h6 {
      font-size: 2rem;
    }
    p {
      font-size: 2rem;
      width: 80%;
    }
  }
}
