.routesContainer {
  background-color: $grey-bg;
  width: 105vw;
  position: relative;
  left: -4rem;
  height: 5rem;

  .routes {
    a {
      font-size: 2rem;
    }
  }
}

.filterBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  .mobileCat {
    display: none;
    transition: 0.4s ease-in-out;
    .categoryUl {
      transition: 0.4s ease-in-out;
      display: none;
    }
  }
  .categories {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .categoryBtn {
      background: transparent;
      border: none;
      font-size: 0.8rem;
      color: $black-colour;
      font-weight: 500;
      letter-spacing: 0.1rem;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      display: none;
    }

    .categoryUL {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      transition: 0.4s ease-in-out;
    }
    input {
      border: none;
      background-color: transparent;
      font-size: 0.8rem;
      color: $grey-text-colour;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      letter-spacing: 0.1rem;
      transition: 0.4s ease-in-out;
      &:hover {
        color: $black-colour;
      }
      &.active {
        color: $black-colour;
      }
    }
  }

  .filterContainer {
    padding-block: 2rem;
    padding-inline: 2rem;
    padding-right: 4rem;
    background-color: $black-colour;
    opacity: 0.98;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 2rem;
    display: flex;
    color: white;
    gap: 5rem;
    transition: 0.4s ease-in-out;

    .sort,
    .priceFilter {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-transform: uppercase;
      h6 {
        font-weight: 700;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      li {
        color: $grey-text-colour;
        font-weight: 300;
        font-size: 0.75rem;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
    }
  }
  .filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .filterBtn {
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
    }
    p {
      color: $black-colour;
      font-weight: 500;
      letter-spacing: 0.1rem;
      font-size: 0.8rem;
    }

    &:hover .filterContainer {
      display: none;
    }
  }
}
.productsContainer {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.productCard {
  width: calc((100% - 6rem) / 4);
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  cursor: pointer;

  &.notActive {
    display: none;
  }
  .img {
    width: 100%;
    height: 80%;
    background-color: $grey-bg;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    a {
      display: block;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-inline: 1rem;
      padding-top: 1rem;
      position: absolute;
      z-index: 2;

      p {
        color: $grey-text-colour;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .quickLook {
      position: absolute;
      z-index: 2;
      pointer-events: fill;
      display: flex;
      background-color: $black-colour;
      width: 50%;
      height: 1.5rem;
      align-self: center;
      color: white;
      justify-content: flex-start;

      cursor: pointer;
      align-items: center;
      text-align: center;
      bottom: -2rem;
      transition: 0.4s ease-in-out;
      .quickLookBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
      }

      p {
        font-size: 0.7rem;
        font-weight: 500;
      }
      .heart {
        position: absolute;
        right: 0;
        width: 20%;
        height: 100%;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    h6 {
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
    }
    .price-animation {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      overflow: hidden;
      align-items: center;
      position: relative;
      .price {
        font-weight: 400;
        color: $price-number-colour;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
        justify-content: center;
        width: 100%;
        transition: 0.4s ease-in-out;
        p {
          font-size: 0.9rem;
        }
        .sale {
          text-decoration: line-through;
        }
      }

      .cartBtn {
        font-size: 0.8rem;
        font-weight: 600;
        color: $price-number-colour;

        position: absolute;
        left: 0rem;
        transition: 0.4s ease-in-out;
        opacity: 0;
      }
    }
  }

  &:hover {
    .quickLook {
      bottom: 0;
    }
    .price {
      transform: translateX(70%);
    }
    .body .price-animation .cartBtn {
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }
}
.routesContainer {
  &.hide {
    display: none;
  }
  padding-inline: 4rem;
  .routes {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    p {
      color: $grey-text-colour;
    }

    a {
      color: $grey-text-colour;
      font-size: 1rem;
      text-transform: capitalize;

      &.active {
        color: $grey-text-colour;
      }

      &:hover {
        color: $black-colour;
      }
    }
  }
}
@media (max-width: 1024px) {
  .productCard {
    width: calc((100% - 4rem) / 3);

    .body {
      .price-animation {
        .price,
        .cartBtn {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .productCard {
    width: calc((100% - 2rem) / 2);
    .body {
      .price-animation {
        .price,
        .cartBtn {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .routesContainer {
    .routes {
      a {
        font-size: 1.5rem;
      }
    }
  }
  .productCard {
    width: calc((100% - 2rem) / 2);
  }

  .filterBar {
    flex-direction: column;
    align-items: flex-start;

    .pcCat {
      display: none;
    }

    .mobileCat {
      display: flex;
      flex-direction: column;
      .categories {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        .categoryBtn {
          display: flex;
          font-size: 1.5rem;
        }
        .categoryUL {
          flex-direction: column;
          gap: 0.5;
          align-items: flex-start;

          margin-top: 2rem;
        }
        input {
          font-size: 1.25rem;
        }
      }
    }

    .filter {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
      .filterBtn {
        align-items: center;
        p,
        svg {
          font-size: 1.5rem;
          display: flex;
        }
      }
      .filterContainer {
        display: flex;
        background-color: transparent;
        color: $black-colour;
        gap: 4rem;
        padding-inline: 0rem;
        position: unset;

        h6 {
          font-size: 1.5rem;
        }

        li {
          font-size: 1.25rem;
        }
      }
    }
  }

  .productCard {
    width: calc((100% - 2rem) / 2);
    height: 35rem;
    .img {
      .header {
        p {
          font-size: 1.5rem;
        }
      }

      .quickLook {
        height: 3rem;
        padding-left: 1.5rem;
        bottom: -3rem;
        p {
          font-size: 1.5rem;
        }
      }
    }
    .body {
      h6 {
        font-size: 1.5rem;
      }
      .price-animation {
        .price,
        .cartBtn {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
    &:hover {
      .quickLook {
        bottom: 0;
      }
    }
  }
}

@media (max-width: 665px) {
  .filterBar {
    padding-left: 6rem;
  }
  .productsContainer {
    justify-content: center;
  }
  .productCard {
    width: calc((100% - 8rem) / 1);
    height: 40rem;
    .img {
      .header {
        p {
          font-size: 1.5rem;
        }
      }

      .quickLook {
        height: 3rem;
        padding-left: 1.5rem;
        bottom: -3rem;
        p {
          font-size: 1rem;
        }
      }
    }
    .body {
      h6 {
        font-size: 1.5rem;
      }
      .price-animation {
        .price,
        .cartBtn {
          font-size: 1.5rem;
        }
      }
    }
    &:hover {
      .quickLook {
        bottom: 0;
      }
    }
  }
}
